<section class="text-gray-400 bg-gray-900 body-font min-h-screen">
    <div class="flex md:flex-row flex-col items-center w-full">
      <div class="lg:flex-grow md:w-1/2 pr-0 lg:pr-24 md:pr-16 flex flex-col md:items-end md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-5xl mb-3 font-thin text-white">Philip DiPatrizio</h1>
        <h2 class="mb-4">Web Developer // Digital Marketer</h2>
        <p class="text-sm">Reach me at pdipatrizio@gmail.com</p>
      </div>
      <div class="lg:w-full px-12 py-24 w-1/2 bg-white text-gray-800 min-h-screen flex flex-col items-start justify-center">
        <h2 class="text-2xl font-medium mb-6 py-2 px-3 tracking-wide bg-black text-white inline-block shadow-[10px_10px_0_0_rgba(0,0,0,.1)]">What do I do?</h2>
        <ul class="pl-5 mb-20 list-none leading-6 border-l-2 border-dotted border-gray-900">
            <li class="pb-2">Design and build responsive websites.</li>
            <li class="pb-2">Optimize websites for speed.</li>
            <li class="pb-2">Follow Google's Guidelines for Webmasters, Content, and Quality.</li>
            <li class="pb-2">Never stop learning and growing.</li>
        </ul>
        <h2 class="text-2xl font-medium mb-6 py-2 px-3 tracking-wide bg-black text-white inline-block shadow-[10px_10px_0_0_rgba(0,0,0,.1)]">What do I know best?</h2>
        <ul class="pl-5 list-none leading-6 border-l-2 border-dotted border-gray-900">
            <li class="pb-2">HTML5, CSS3, JavaScript</li>
            <li class="pb-2">CSS Frameworks like Bootstrap, Bulma</li>
            <li class="pb-2">WordPress, Oxygen, OpenLiteSpeed</li>
            <li class="pb-2">Search Engine Optimization (SEO)</li>
            <li class="pb-2">Google Search Console, Google Analytics</li>
        </ul>
      </div>
    </div>
  </section>
